<center>

<div class="main" style= "margin-top:20%">
<h1 style="font-size:64px;">DRASTIC MEASURES</h1>
<h2 style="font-size: 24px; margin: 75px 0px 45px 0px;">Drastic times call for drastic measures</h2>

<div style="margin-bottom:8%;"><%= render partial: "search_box" %></div>
</div>

<div id="user-results">
	<%= render :partial => 'home/users' %>
</div>

<hr width="90%"/>
<div class="button" style="margin-top:5%;">
<a style="font-style: normal;
width:132px;
text-decoration:none;
font-weight: normal;
font-size: 18px;
line-height: 16px;
letter-spacing: 1px;
text-transform: uppercase;
text-rendering: optimizelegibility;
-webkit-border-radius: 0;
-moz-border-radius: 1px;
border-radius: 0;
background: #e8e6e6;
border: 0;
color: #7c7c7c;
cursor: pointer;
text-align: center;
padding: 6px;

-webkit-box-shadow: 0px 3px 0px rgba(187, 187, 187, 0.72);
-moz-box-shadow: 0px 3px 0px rgba(187, 187, 187, 0.72);
box-shadow: 0px 3px 0px rgba(187, 187, 187, 0.72);" href="http://localhost:3000/conclusion.html">CONCLUSION</a></div>

<!-- 
<div class="menu">
<hr />

<h2>Menu</h2>
<p><%= link_to "Sign in with Facebook", signin_path %></p>
<p><%= link_to "View on GitHub", "https://github.com/monsterbash" %></p>
<hr />
</div> -->

</center>